/* demo */
/* plugin */
.avatar-me-wrapper { min-height: 40px; max-height: 40px; overflow: hidden; padding-left: 40px; position: relative; }
.avatar-me {
    background-color: #007aff; color: #fff; display: block; height: 40px; left: 0; overflow: hidden; padding: 0 10px; position: absolute; text-align: center; text-overflow: ellipsis; text-transform: uppercase; top: 0; white-space: nowrap; width: 40px;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.avatar-me, .user-name { font-family: 'Open Sans Condensed', sans-serif; font-size: 12px; line-height: 40px; }
.avatar-me { font-weight: 300; }
.user-name { font-weight: 700; }

.avatar-u-wrapper { min-height: 30px; max-height: 30px; overflow: hidden; padding-left: 30px; position: relative; }
.avatar-u {
    background-color: #11c1f3; color: #fff; display: block; height: 30px; left: 0; overflow: hidden; padding: 0 10px; position: absolute; text-align: center; text-overflow: ellipsis; text-transform: uppercase; top: 0; white-space: nowrap; width: 30px;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.avatar-u, .u-name { font-family: 'Open Sans Condensed', sans-serif; font-size: 10px; line-height: 30px; }
.avatar-u { font-weight: 300; }
.u-name { font-weight: 700; }