<div>
          <section class="w-f-md" >
            <section class="hbox stretch bg-black dker">
              <!-- side content -->
              <aside class="col-sm-5 no-padder" id="sidebar">
                <section class=" animated fadeInUp">
                  <section class="scrollable">
                    <div class="m-t-n-xxs item pos-rlt">
                      <div class="top text-right">
                        <span class="musicbar bg-info bg-empty inline m-r-lg m-t" style="width:25px;height:30px">
                          <span class="bar1 a3 lter"></span>
                          <span class="bar2 a5 lt"></span>
                          <span class="bar3 a1 bg"></span>
                          <span class="bar4 a4 dk"></span>
                          <span class="bar5 a2 dker"></span>
                        </span>
                      </div>
                      <div class="bottom gd bg-info wrapper-lg" ng-controller="AllSongsCtrl">
                        <span class="pull-right text-sm">        <br><span class="jp-current-time text-muted"></span>&nbsp;<span class="jp-duration text-muted"></span></span>
                        <span class="h2 font-thin" id="playlisttitle">------------</span>
                      </div>
                      <img class="img-full topimg" src="{{s.img}}" alt="...">
                    </div>
                      <!--PLAYLIST ITEMS HERE-->
                    <ul class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto" ng-controller="AllSongsCtrl">
                      <li class="list-group-item" ng-repeat="s in albumsongs">
                        <div class="pull-right m-l">
                          <a ng-click="initiateDownload(s.url)" class="m-r-sm"><i class="fa fa-download hand i-1-5x"></i></a>
                          <!--<a href="#" class="m-r-sm"><i class="icon-plus"></i></a>-->
                          <a ng-click="removeFromPlaylist($index);"><i class="fa fa-minus i-1-5x"></i></a>
                        </div>
                        <a  class="jp-play-me m-r-sm pull-left">
                          <i ng-click="playListStart($index);" class="plplay icon-control-play text i-1-5x " id="playlistplay{{$index}}"></i>
                          <i ng-click="pauseAudio()" class="icon-control-pause plpause text-active" id="playlistpause{{$index}}"></i>
                        </a>
                        <div ng-click="playListStart($index);" class="clear text-ellipsis hand">
                          <span>{{s.title}} ({{s.name}}) </span>
                          <span class="text-muted"></span>
                        </div>
                      </li>

                    </ul>
                  </section>
                </section>
              </aside>
              <!-- / side content -->
              <section class="col-sm-4 no-padder bg">
                <section class="">
                  <section class="scrollable hover">
                      <!-- NEXT RIGHT ITEMS -->
                    <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs" ng-controller="AllSongsCtrl">
                      <li class="list-group-item clearfix" ng-repeat="s in albumsongs  | limitTo:10">
                        <a  class="jp-play-me pull-right m-t-sm m-l text-md">
                          <i ng-click="playAudio(s);" class="plplay icon-control-play text" id="nxtplay{{s.id}}"></i>
                          <i class="plpause icon-control-pause text-active" ng-click="pauseAudio();" id="nxtpause{{s.id}}"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                          <img src="{{s.img}}" alt="...">
                        </a>
                        <a class="clear" href="#">
                          <span class="block text-ellipsis">{{s.title}}</span>
                          <small class="text-muted">{{s.name}}</small>
                        </a>
                      </li>
                    </ul>
                  </section>
                </section>
              </section>
              <section class="col-sm-3 no-padder lt">
                <section class="">
                  <section class="scrollable hover">
                    <div class="m-t-n-xxs">
                      <div class="item pos-rlt">
                        <a href="" class="item-overlay active opacity wrapper-md font-xs">
                          <span class="block h3 font-bold text-info">Find</span>
                          <span class="text-muted">Search the music you like</span>
                          <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
                        </a>
                        <a href="">
                          <img class="img-full" src="images/wz.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="" class="item-overlay active opacity wrapper-md font-xs text-right">
                          <span class="block h3 font-bold text-warning text-u-c">Listen</span>
                          <span class="text-muted">Find the peace in your heart</span>
                          <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="">
                          <img class="img-full" src="images/dv.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="" class="item-overlay active opacity wrapper-md font-xs">
                          <span class="block h3 font-bold text-success text-u-c">Share</span>
                          <span class="text-muted">Share the good songs with your lovers</span>
                          <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
                        </a>
                        <a href="">
                          <img class="img-full" src="images/m42.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="" class="item-overlay active opacity wrapper-md font-xs text-right">
                          <span class="block h3 font-bold text-white text-u-c">2014</span>
                          <span class="text-muted">Find, Listen & Share</span>
                          <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="">
                          <img class="img-full" src="images/m44.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="#/hitlist" class="item-overlay active opacity wrapper-md font-xs">
                          <span class="block h3 font-bold text-danger-lter text-u-c">Top10</span>
                          <span class="text-muted">Selected songs</span>
                          <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
                        </a>
                        <a href="#/hitlist">
                          <img class="img-full" src="images/bs.jpg" alt="...">
                        </a>
                      </div>
                    </div>
                  </section>
                </section>
              </section>
            </section>
          </section>
</div>


