<!DOCTYPE html>
<html lang="en" ng-app="gmb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GMB | {{2+2}}</title>
    <link rel="stylesheet" href="js/jPlayer/jplayer.flat.css" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">


   <link rel="stylesheet" href="css/app.css" type="text/css" />  
 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
</head><!--/head-->
    <meta charset="UTF-8">
    <title></title>

<body>

<!-- video player -->
<div id="jp_container_1">
    <div class="jp-type-single pos-rlt">
        <div id="jplayer_1" class="jp-jplayer jp-video"></div>
        <div class="jp-gui">
            <div class="jp-video-play">
                <a class="fa fa-5x text-white fa-play-circle"></a>
            </div>
            <div class="jp-interface bg-info padder">
                <div class="jp-controls">
                    <div>
                        <a class="jp-play"><i class="icon-control-play i-2x"></i></a>
                        <a class="jp-pause hid"><i class="icon-control-pause i-2x"></i></a>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar dker">
                            <div class="jp-play-bar dk">
                            </div>
                            <div class="jp-title text-lt">
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted"></div>
                    <div class="hidden-xs hidden-sm jp-duration text-xs text-muted"></div>
                    <div class="hidden-xs hidden-sm">
                        <a class="jp-mute" title="mute"><i class="icon-volume-2"></i></a>
                        <a class="jp-unmute hid" title="unmute"><i class="icon-volume-off"></i></a>
                    </div>
                    <div class="hidden-xs hidden-sm jp-volume">
                        <div class="jp-volume-bar dk">
                            <div class="jp-volume-bar-value lter"></div>
                        </div>
                    </div>
                    <div>
                        <a class="jp-full-screen" title="full screen"><i class="fa fa-expand"></i></a>
                        <a class="jp-restore-screen" title="restore screen"><i class="fa fa-compress text-lt"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jp-no-solution hide">
            <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
    </div>
</div>
<!-- / video player -->

  <script src="js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.js"></script>
  <!-- App -->

  

  <script type="text/javascript" src="js/jPlayer/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="js/jPlayer/add-on/jplayer.playlist.min.js"></script>
  <script type="text/javascript" src="js/jPlayer/demo.js"></script>
</body>
</html>