
                <!-- side content -->
                <!-- / side content -->
                <!--<section >
                  <section class="vbox">-->

                    <section class="scrollable padder-lg" ng-controller="Martist">
                      <h2 class="font-thin m-b">Artists</h2>
                      <div class="row row-sm">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="a in artists">
                          <div class="item">
                            <div class="pos-rlt">
                              <div class="item-overlay opacity r r-2x bg-black">
                                <div class="center text-center m-t-n">
                                  <a href="#/songs/{{a.id}}"><i class="fa fa-play-circle i-2x"></i></a>
                                </div>
                              </div>
                              <a href="#/songs/{{a.id}}"><img src="{{a.img}}" alt="" class="r r-2x img-full"></a>
                            </div>
                            <div class="padder-v">
                              <a href="#/songs/{{a.id}}" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">{{a.name}}</a>
                              <a href="#/songs/{{a.id}}" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">{{a.country}}</a>
                            </div>
                          </div>
                        </div>

                      </div>
                    </section>
                 <!-- </section>
                </section>-->
