    <section class="scrollable padder-lg" ng-controller="Malbum">
      <h2 class="font-thin m-b">Albums</h2>
      <div class="row row-sm">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="a in albums">
          <div class="item">
            <div class="pos-rlt">
              <div class="item-overlay opacity r r-2x bg-black">
                <div class="center text-center m-t-n">
                  <a href="#/albumsongs/{{a.id}}"><i class="fa fa-play-circle i-2x"></i></a>
                </div>
              </div>
              <a href="#/albumsongs/{{a.id}}"><img src="{{a.img}}" alt="" class="r r-2x img-full"></a>
            </div>
            <div class="padder-v">
              <a href="#/albumsongs/{{a.id}}" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">{{a.albumtitle}}</a>
              <a href="#/albumsongs/{{a.id}}" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">{{a.year}}</a>
            </div>
          </div>
        </div>

      </div>
    </section>



