<div>
           <h2 class="font-thin m-b">Top 50 Songs
    <span class="musicbar bg-my bg-empty inline m-r-lg m-t" style="width:25px;height:30px">
          <span class="bar1 a3 bg"></span>
          <span class="bar2 a5 lter"></span>
          <span class="bar3 a1 lt"></span>
          <span class="bar4 a4 dk"></span>
          <span class="bar5 a2 dker"></span>
        </span>
  </h2>
          <section class="w-f-md" style="margin-top: 10px">
            <section class="hbox stretch bg-black dker">
              <!-- side content -->
              
              <!-- / side content -->
              <section class="col-sm-4 no-padder bg">
                <section class="">
                  <section class="scrollable hover">
                      <!-- NEXT RIGHT ITEMS -->
                    <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs" ng-controller="TopSongsCtrl">
                      <li class="list-group-item clearfix" ng-repeat="s in topsongs  | limitTo:50">
                        <a  class="jp-play-me pull-right m-t-sm m-l text-md">
                          <i ng-click="playAudio(s);" class="plplay icon-control-play text" id="nxtplay{{s.id}}"></i>
                          <i class="plpause icon-control-pause text-active" ng-click="pauseAudio();" id="nxtpause{{s.id}}"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                          <img src="{{s.img}}" alt="...">
                        </a>
                        <a class="clear" href="#">
                          <span class="block text-ellipsis">{{s.title}}</span>
                          <span class="block text-ellipsis">{{s.playtime}}</span>        
                          <span class="block text-ellipsis">GHC0.99</span>                       
                          <small class="text-muted" style="color: #FFF">{{s.name}}</small><br/>
                          <a ng-click="initiateDownload(s.url)" class="m-r-sm"><i class="fa fa-shopping-cart hand i-1-5x"></i> Buy Track</a>


                        </a>
                      </li>
                    </ul>
                  </section>
                </section>
              </section>
              <section class="col-sm-3 no-padder lt">
                <section class="">
                  <section class="scrollable hover">
                    <div class="m-t-n-xxs">
                      <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                          <span class="block h3 font-bold text-info">Find</span>
                          <span class="text-muted">Search the music you like</span>
                          <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
                        </a>
                        <a href="#">
                          <img class="img-full" src="images/wz.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
                          <span class="block h3 font-bold text-warning text-u-c">Listen</span>
                          <span class="text-muted">Find the peace in your heart</span>
                          <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="#">
                          <img class="img-full" src="images/dv.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                          <span class="block h3 font-bold text-success text-u-c">Share</span>
                          <span class="text-muted">Share the good songs with your loves</span>
                          <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
                        </a>
                        <a href="#">
                          <img class="img-full" src="images/m42.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="" class="item-overlay active opacity wrapper-md font-xs text-right">
                          <span class="block h3 font-bold text-white text-u-c">2014</span>
                          <span class="text-muted">Find, Listen & Share</span>
                          <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="">
                          <img class="img-full" src="images/m44.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="#/hitlist" class="item-overlay active opacity wrapper-md font-xs">
                          <span class="block h3 font-bold text-danger-lter text-u-c">Top10</span>
                          <span class="text-muted">Selected songs</span>
                          <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
                        </a>
                        <a href="#/hitlist">
                          <img class="img-full" src="images/bs.jpg" alt="...">
                        </a>
                      </div>
                    </div>
                  </section>
                </section>
              </section>
            </section>
          </section>
</div>


