
                  <a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin" ><i class="icon-refresh i-lg  inline" id="refresh"></i></a>
                  <h2 class="font-thin m-b"><span class="text-white">Featured</span>

                    <span class="musicbar bg-my bg-empty inline m-r-lg m-t" style="width:25px;height:30px;">
                          <span class="bar1 a3 bg"></span>
                          <span class="bar2 a5 lter"></span>
                          <span class="bar3 a1 lt"></span>
                          <span class="bar4 a4 dk"></span>
                          <span class="bar5 a2 dker"></span>
                        </span>
                  </h2>
                  <div class="row row-sm" ng-controller="MainCtrl">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hand" ng-repeat="s in songs">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="bottom">
                            <span class="badge bg-info m-l-sm m-b-sm" style="background-color: #67a4d0">{{s.playtime}}</span>
                          </div>
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="text-info padder m-t-sm text-sm" style="color:#67a4d0">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o text-muted"></i>
                            </div>
                            <div class="center text-center m-t-n">
                              <a ng-click="playAudio(s);"><i class="icon-control-play i-2x"></i></a>
                            </div>
                            <div class="bottom padder m-b-sm">
                              <a class="pull-right">
                                <i class="icon-like i-1-5x"></i>
                              </a>
                              <a ng-click="addToPlaylist(s)">
                                <i class="fa fa-plus-circle i-1-5x"></i>
                              </a>
                            </div>
                          </div>
                          <a><img src="{{s.img}}" alt="" class="r r-2x img-full hand"></a>
                        </div>
                        <div class="padder-v">
                          <a class="text-ellipsis">{{s.title}}</a>
                          <a class="text-ellipsis text-xs text-muted">{{s.name}}</a>
                        </div>
                      </div>
                    </div>



                  </div>
                  <div class="row" >
                    <div class="col-md-7">
                      <h3 class="font-thin">New Songs</h3>
                      <div class="row row-sm" ng-controller="NewSongsCtrl">
                        <div class="col-xs-6 col-sm-3" ng-repeat="s in newsongs | limitTo:15">
                          <div class="item">
                            <div class="pos-rlt">
                              <div class="item-overlay opacity r r-2x bg-black">
                                <div class="center text-center m-t-n">
                                  <a ng-click="playAudio(s)"><i class="fa fa-play-circle i-2x"></i></a>
                                </div>
                              </div>
                              <a ng-click="playAudio(s)"><img ng-src="{{s.img}}" alt="" class="r r-2x img-full"></a>
                            </div>
                            <div class="padder-v">
                              <a ng-click="playAudio(s)" class="text-ellipsis">{{s.title}}</a>
                              <a ng-click="playAudio(s)" class="text-ellipsis text-xs text-muted">{{artist.country}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5 hide" ng-controller="TopSongsCtrl">
                      <h3 class="font-thin">Top Songs</h3>
                      <div class="list-group bg-white list-group-lg no-bg auto">
                        <a href="#/topsongs" class="list-group-item clearfix" ng-repeat="s in topsongs|limitTo:10">
                          <span class="pull-right h2 text-muted m-l">{{s.played}}</span>
                          <span class="pull-left thumb-sm avatar m-r">
                            <img ng-src="{{s.img}}" alt="...">
                          </span>
                          <span class="clear">
                            <span>{{s.title}}</span>
                            <small class="text-muted clear text-ellipsis">{{s.artist}}</small>
                          </span>
                        </a>

                      </div>
                    </div>

                  </div>
