<div>
          <section class="w-f-md" >
            <section class="hbox stretch bg-black dker">
              <!-- side content -->
              <aside class="col-sm-5 no-padder" id="sidebar">
                <section class=" animated fadeInUp">
                  <section class="scrollable">
                    <div class="m-t-n-xxs item pos-rlt">
                      <div class="top text-right">
                          <div ng-click="playRadio({id:'radio',url:'http://hyades.shoutca.st:8069/live',title:'Mtech Radio',name:''})" class="btn bg-my radbtn" style="float:left; margin:5px 0 0 5px;">Start Radio</div>

                        <span class="musicbar bg-my bg-empty inline m-r-lg m-t" style="width:25px;height:30px">
                          <span class="bar1 a3 bg"></span>
                          <span class="bar2 a5 lter"></span>
                          <span class="bar3 a1 lt"></span>
                          <span class="bar4 a4 dk"></span>
                          <span class="bar5 a2 dker"></span>
                        </span>

                      </div>
                      <div class="bottom gd bg-info wrapper-lg" ng-controller="PlaylistCtrl">
                        <span class="pull-right text-sm">        <br><span class="jp-current-time text-muted"></span>&nbsp;<span class="jp-duration text-muted"></span></span>
                         <span class="h2 font-thin">Mtech Radio</span>
                      </div>

                      <img class="img-full topimg" src="images/onair.png" alt="...">
                    </div>

                      <!-- chat -->
                      <!--<audio  src="http://uk3.internet-radio.com:8213/live" controls class="aud" ></audio>-->
                      <!--<div class="cc_player" data-username="gpaitoo">Loading ...</div>-->
                      <section class="panel panel-default bg-black" ng-controller="ChatCtrl">
                          <header class="panel-heading bg-black">Send Your Comment</header>
                          <div class="pre-scrollable " id="bottom">
                          <section class="chat-list panel-body">
                            <div ng-repeat="c in chats" >
                              <article class="chat-item {{toggleLeftOrRight($index,c.userid)}}" >
                                  <a href="#" class="pull-{{toggleLeftOrRight($index,c.userid)}} thumb-sm avatar"><img  id="chatpic{{$index}}" /></a>
                                    {{setchatpic(Math.floor((Math.random() * 1000) + 1),c.name,$index);}}
                                  <section class="chat-body">
                                      <div class="panel b-light text-sm m-b-none">
                                          <div class="panel-body">
                                              <span class="arrow {{toggleLeftOrRight($index,c.userid)}}"></span>
                                              <p class="m-b-none">{{c.comment}} </p>
                                          </div>
                                      </div>
                                      <small class="text-muted"><i class="fa fa-ok text-success"></i> {{c.ctime | timeAgo:'MM/dd/yyyy'}}</small>
                                  </section>
                              </article>
                              </div>
                          </section>
                         </div>
                          <footer class="panel-footer">
                              <!-- chat form -->
                              <article class="chat-item" id="chat-form">
                                  <a class="pull-left thumb-sm avatar">
                                      <img data-name="{{username}}" class="profilepic" />
                                  </a>
                                  <section class="chat-body">
                                      <form class="m-b-none" ng-submit="sendChat()">
                                          <div class="input-group">
                                              <input type="text" class="form-control" placeholder="Say something" ng-model="msg">
                              <span class="input-group-btn">
                                <button class="btn btn-default" scroll-bottom="bottom" type="submit">SEND</button>
                              </span>
                                          </div>
                                      </form>
                                  </section>
                              </article>
                          </footer>
                      </section>
                      <!-- /chat -->

                  </section>
                </section>
              </aside>
              <!-- / side content -->
              <section class="col-sm-4 no-padder bg">
                <section class="">
                  <section class="scrollable hover">
                      <!-- NEXT RIGHT ITEMS -->
                    <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs" ng-controller="TopSongsCtrl">
                      <li class="list-group-item clearfix" ng-repeat="s in topsongs  | limitTo:10">
                        <a  class="jp-play-me pull-right m-t-sm m-l text-md">
                          <i ng-click="playAudio(s);" class="plplay icon-control-play text" id="nxtplay{{s.id}}"></i>
                          <i class="plpause icon-control-pause text-active" ng-click="pauseAudio();" id="nxtpause{{s.id}}"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                          <img src="{{s.img}}" alt="...">
                        </a>
                        <a class="clear" href="#">
                          <span class="block text-ellipsis">{{s.title}}</span>
                          <small class="text-muted">{{s.name}}</small>
                        </a>
                      </li>
                    </ul>
                  </section>
                </section>
              </section>
              <!--<section class="col-sm-3 no-padder lt">
                <section class="">
                  <section class="scrollable hover">
                    <div class="m-t-n-xxs">
                      <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                          <span class="block h3 font-bold text-info">Find</span>
                          <span class="text-muted">Search the music you like</span>
                          <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
                        </a>
                        <a href="#">
                          <img class="img-full" src="images/wz.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
                          <span class="block h3 font-bold text-warning text-u-c">Listen</span>
                          <span class="text-muted">Find the peace in your heart</span>
                          <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="#">
                          <img class="img-full" src="images/dv.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                          <span class="block h3 font-bold text-success text-u-c">Share</span>
                          <span class="text-muted">Share the good songs with your loves</span>
                          <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
                        </a>
                        <a href="#">
                          <img class="img-full" src="images/m42.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
                          <span class="block h3 font-bold text-white text-u-c">2014</span>
                          <span class="text-muted">Find, Listen & Share</span>
                          <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="#">
                          <img class="img-full" src="images/m44.jpg" alt="...">
                        </a>
                      </div>
                      <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                          <span class="block h3 font-bold text-danger-lter text-u-c">Top10</span>
                          <span class="text-muted">Selected songs</span>
                          <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
                        </a>
                        <a href="#">
                          <img class="img-full" src="images/bs.jpg" alt="...">
                        </a>
                      </div>
                    </div>
                  </section>
                </section>
              </section>-->
            </section>
          </section>
</div>


<script language="javascript" type="text/javascript" src="https://hyades.shoutca.st/system/streaminfo.js"></script>