
  <h2 class="font-thin m-b">Songs
    <span class="musicbar animate bg-success bg-empty inline m-r-lg m-t" style="width:25px;height:30px">
          <span class="bar1 bg-danger a3 lter"></span>
          <span class="bar2 bg-black a5 lt"></span>
          <span class="bar3 bg-primary a1 bg"></span>
          <span class="bar4 a4 dk"></span>
          <span class="bar5 a2 dker"></span>
        </span>
  </h2>
  <div class="row row-sm" ng-controller="AllSongsCtrl">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 hand" ng-repeat="s in allsongs">
      <div class="item">
        <div class="pos-rlt">
          <div class="bottom">
            <span class="badge bg-info m-l-sm m-b-sm"><!--time here --></span>
          </div>
          <div class="item-overlay opacity r r-2x bg-black">
            <div class="text-info padder m-t-sm text-sm">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o text-muted"></i>
            </div>
            <div class="center text-center m-t-n">
              <a ng-click="playAudio(s);"><i class="icon-control-play i-2x"></i></a>
            </div>
            <div class="bottom padder m-b-sm">
              <a class="pull-right">
                <i class="fa fa-heart-o"></i>
              </a>
              <a ng-click="addToPlaylist(s)">
                <i class="fa fa-plus-circle"></i>
              </a>
            </div>
          </div>
          <a><img src="{{s.img}}" alt="" class="r r-2x img-full hand"></a>
        </div>
        <div class="padder-v">
          <a class="text-ellipsis">{{s.title}}</a>
          <a class="text-ellipsis text-xs text-muted">{{s.name}}</a>
        </div>
      </div>

    </div>
    <div ng-if="false" infinite-scroll="loadmore()" infinite-scroll-distance="1" infinite-scroll-disabled='loadbusy'>
    <div ng-show='loadbusy'>
        <img width="40%" src="images/preload.gif">
    </div>
    </div>
  </div>

